/* site title */

#templatemo_site_title_bar_wrapper {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background:  url(/resources/images/templatemo_site_title_bg_wrapper.jpg) repeat-x top;
}